.html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

.wrapper{
    width: 901px;
    margin: 0 auto;
background-color: white
}
.page-header{
    background-color:  rgb(255, 255, 255);
}

.body{
    font-family: 'Playfair Display',Arial,serif;
    color: rgb(98, 98, 98);
    font-size: 14px;
    line-height: 24px;
}

.site-navigation{
    margin: 0;
    padding: 0;    
    font-size: 14px;
    list-style: none;
}
.site-navigation a{
    display: inline-block;
}
.site-navigation a :not(last-cild){
    margin-right: 100px;
}
    

.site-navigation a {
    color: rgb(98, 98, 98);
    font-weight: 400;
    line-height: 17px;
    text-transform:uppercase;
    text-decoration: none;  
}

.site-navigation a:hover,
.site-navigation a:focus{
    color: rgb(3,169,244)
}

.post-list{
    list-style: none;
}

.post-list-item p {
    color: rgb(98, 98, 98);
    font-size: 14px;
    font-weight: 24px;
    text-transform:inherit;
    text-align: left;
}

.post-list-name p {
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(180, 173, 158);
    text-transform: uppercase;
}





















